.node {
	height: 25px;
	width: 25px;
	border: 1px solid #afd8f8;
	display: inline;
}

.node-start {
	background-color: red;
}

.node-end {
	background-color: green;
}

.animated {
	background-color: rgba(0, 190, 218, 0.75);
	animation: nodeanimation;
	animation-duration: 1s;
}

@keyframes nodeanimation {
	0% {
		transform: scale(.3);
		background-color: rgba(0,0,66, 0.75);
		border-radius: 100%;
	}

	50% {
		background-color: rgba(17, 104, 217, 0.75);
	}

	75% {
		transform: scale(1.2);
		background-color: rgba(0, 217, 159, 0.75);
	}

	100% {
		transform: scale(1.0);
		background-color: rgba(0, 190, 218, 0.75);
	}
}

.wall {
	background-color: grey;
}	

.shortest_path {
	background-color: yellow;
}